body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    outline: none;
}

#topContainer {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #00FF00;
    font-size: 14px;
    text-shadow: 1px 1px 0 #000;
    display: flex;
    justify-content: center;
    gap: 50px
}

.side {
    display: flex;
    margin-top: 30px;
}

.left {
    justify-content: flex-end;
}

.right {
    justify-content: flex-start;
}

#gameRow {
    display: flex;
    gap: 50px;
    align-items: stretch;
    height: 650px;
}

#gameArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: flex-start;
}

#board {
    border: 4px solid #00FF00;
    background-color: black;
    box-shadow: 0 0 10px #00FF00;
}

#Rules {
    font-family: 'Press Start 2P', monospace;
    color: #00FF00;
    background-color: black;
    border: 4px solid #00FF00;
    padding: 20px;
    width: 300px;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-align: left;
    box-shadow: 0 0 10px #00FF00;
}

#RulesTitle {
    font-size: 16px;
    color: #FF0000;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;

}

#Rules p {
    margin: 5px 0;
    font-size: 10px;
    text-shadow: 1px 1px 0 #000;
}

#achievements {
    font-family: 'Press Start 2P', monospace;
    color: #00FF00;
    background-color: black;
    border: 4px solid #00FF00;
    padding: 20px;
    width: 300px;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 0 0 10px #00FF00;
    display: flex;
    flex-direction: column;
}

#achievementList::-webkit-scrollbar {
    width: 3px;
    margin-left: 10px;
}

#achievementList::-webkit-scrollbar-track {
    background: black;
}

#achievementList::-webkit-scrollbar-thumb {
    background: #00FF00;
}

#achievementList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
    height: 100%;
}

#achievements p {}

.achievement {
    background: transparent;
    border: 2px solid #00FF00;
    color: #00FF00;
    font-size: 10px;
    padding: 15px;
    margin: 10px 15px 10px 15px;
    outline: none;
    font-family: 'Press Start 2P', monospace;
    line-height: 1.5em;
    letter-spacing: 1px;

}

.achDone {
    background: transparent;
    border: 2px solid #688968;
    color: #688968;
    font-size: 10px;
    padding: 15px;
    margin: 10px 15px 10px 15px;
    outline: none;
    font-family: 'Press Start 2P', monospace;
    line-height: 1.5em;
    letter-spacing: 1px;

}

.achievement h2 {
    line-height: 1.8em;
}

#soundBtn {
    background: transparent;
    border: 4px solid #00FF00;
    color: #00FF00;
    font-size: 10px;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    box-shadow: 0 0 10px #00FF00;
    outline: none;
    margin-top: 20px;
    font-family: 'Press Start 2P', monospace;
    line-height: 1.5em;
    letter-spacing: 1px;
}

#soundBtn:hover {
    background: #00FF00;
    color: black;
}

#soundBtn.muted {
    color: #FF0000;
    border-color: #FF0000;
    box-shadow: 0 0 10px #FF0000;
}


#soundBtn.muted:hover {
    background: #00FF00;
    color: black;
    border-color: #00FF00;
}

#restartBtn {
    outline: none;
    background: transparent;
    border: 4px solid #00FF00;
    color: #00FF00;
    font-size: 10px;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    box-shadow: 0 0 10px #00FF00;
    margin-top: 20px;
    font-family: 'Press Start 2P', monospace;
    line-height: 1.5em;
    letter-spacing: 1px;
}

#restartBtn:hover {
    background: #00FF00;
    color: black;
}

#gameBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;

}

#soundControls {
    display: flex;
    align-items: center;
    gap: 10px;
}


#volumeSlider {
    --fill: 100%;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    appearance: none;

}

#volumeSlider::-webkit-slider-runnable-track {
    height: 6px;
    background: linear-gradient(to right,
            #00FF00 0%,
            #00FF00 var(--fill),
            #111 var(--fill),
            #111 100%);
}

#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 16px;
    margin-top: -4px;

    background: black;
    border: 2px solid #00FF00;

    border-radius: 0;
    box-shadow: 0 0 4px #00FF00;
}

@keyframes achievementFlash {
    0% {
        border-color: #00FF00;
        color: #00FF00;
        box-shadow: 0 0 6px #00FF00;
    }
    50% {
        border-color: #FF0000;
        color: #FF0000;
        box-shadow: 0 0 6px #FF0000;
    }
    100% {
        border-color: #00FF00;
        color: #00FF00;
        box-shadow: 0 0 6px #00FF00;
    }
}

.achFlash {
    animation: achievementFlash 0.4s linear infinite;
}